%table
  - data.each do |one_forecast|
    %tr
      %td
        = "#{one_forecast.time.hour}:00"
      %td
        = "#{one_forecast.celsius} °C"
      %td
        %img{ src: "http://www.smhi.se/wpt-a/startpage/images/WPT-icons/weathersymbols/80x60/day/#{one_forecast.symbol}.png" }
