%table
  - data.each do |one_forecast|
    %tr
      %td.time.number
        = "#{one_forecast.time.in_stockholm.hour}:00"
      %td.celsius.number
        = "#{one_forecast.celsius.round} °C"
      %td.symbol
        %img{ src: "/weathersymbols/#{one_forecast.day_or_night}/#{one_forecast.symbol}.png" }
