.front
  %h1= 'bubonem'

  %p.about

    %h2
      Om

    bubonem är en dashboard för folk som bor i Stockholmsområdet. Den visar:

    %ul
      %li
        hållplatsinformation från SL
      %li
        väder från SMHI
      %li
        solens upp och nedgång
      %li
        trafikkarta från trafiken.nu

    Dashboarden går att konfigurera efter de behov man har.
    %a{ href: '/dash' }= "Ursprungsutförandet"
    funkar fint om man bor i Landsnora, Sollentuna men annars kan man skapa sin egen dashboardlänk här nedan.


  %p.make-your-own

    %h2
      Gör din egen

    .stop-additive
      %h3
        1. Lägg till hållplatser
      %button.add-stop
        Lägg till hållplats

      #selected-stops-list

    .stop-picker
      %i{ class: 'fa fa-times close', "aria-hidden": 'true' }
      %h3
        Välj hållplats
      %input{ type: "text", placeholder: "Hållplatsnamn", class: "stop-search" }
      #stop-list


    .map-size-selector
      %h3
        2. Ange trafikkartans storlek i pixlar

      .widthcombo
        %label{ for: "mapw" }
          Bredd
        %br
        %input{ type: "number", name: "mapw", placeholder: "Kartans bredd", id: "mapw", class: "link-source" }
      .heightcombo
        %label{ for: "maph" }
          Höjd
        %br
        %input{ type: "number", name: "maph", placeholder: "Kartans höjd", id: "maph", class: "link-source" }

    .weather-position-selector
      %h3
        3. Ändra koordinater för vädret

    .your-link
      %h3
        4. Prova att det blev bra
      %a{ class: "my-link", href: "/dash" }= "/dash"

    
      
  %p.browser-support
    %h2
      Webbläsarstöd

    Bubonem använder en skojig CSS-grej som heter
    %a{ href: 'https://developer.mozilla.org/en-US/docs/Web/CSS/display' }= "display:flex"
    = '.'
    Den är ganska ny och kräver en modern webbläsare.
    Mer specifikt så är det (som vanligt) Internet Explorer som är lite efter. Här krävs version 11 eller senare.
    Alla hyfsat nya versioner av andra webbläsare ska fungera fint. 
