.front
  %h1= 'bubonem'

  %p.about

    %h2
      Om

    bubonem är en dashboard för folk som bor i Stockholmsområdet. Den visar:

    %ul
      %li
        hållplatsinformation från SL
      %li
        väder från SMHI
      %li
        solens upp och nedgång
      %li
        trafikkarta från trafiken.nu

    Dashboarden går att konfigurera efter de behov man har.
    %a{ href: '/dash' }= "Ursprungsutförandet"
    funkar fint om man bor i Landsnora, Sollentuna men annars kan man skapa sin egen dashboardlänk här nedan.


  %p.make-your-own

    %h2
      Gör din egen

    %section.stop-additive#commuting
      %h3
        1. Lägg till hållplatser
      %button.add-stop
        Lägg till hållplats

      #selected-stops-list

    %section.stop-picker
      %i{ class: 'fa fa-times close', "aria-hidden": 'true' }
      %h3
        Välj hållplats
      %input{ type: "text", placeholder: "Hållplatsnamn", class: "stop-search" }
      #stop-list

    %section.weather-position-selector#weather_forecast
      %h3
        2. Ändra koordinater för vädret

      %p
        Vädret är inställd på koordinaterna N 59.29 E 18.11 vilket är i sydöstra Stockholm.
        Antagligtvis duger den väderprognosen ganska bra för hela Stockholm. Men vill du ha något annat
        så kan du fylla i det här.

      .latcombo
        %label{ for: "lat" }
          Latitud
        %br
        %input{ type: "number", name: "lat", placeholder: "Lat", id: "lat", class: "link-source", step: 0.01 }
      .loncombo
        %label{ for: "lon" }
          Longitud
        %br
        %input{ type: "number", name: "lon", placeholder: "Lon", id: "lon", class: "link-source", step: 0.01 }

    %section.your-link
      %h3
        3. Prova att det blev bra
      %a{ class: "my-link", href: "/dash" }= "/dash"

    
      
  %p.browser-support
    %h2
      Webbläsarstöd

    Bubonem använder en skojig CSS-grej som heter
    %a{ href: 'https://developer.mozilla.org/en-US/docs/Web/CSS/display' }= "display:flex"
    = '.'
    Den är ganska ny och kräver en modern webbläsare.
    Mer specifikt så är det (som vanligt) Internet Explorer som är lite efter. Här krävs version 11 eller senare.
    Alla hyfsat nya versioner av andra webbläsare ska fungera fint. 
