- departures = data["Departures"]
- stop_name = data["Title"]
- time = data["CurrentServerTime"]

.stop_header
  %span.time= time
  %span.stop_name= stop_name
.departures
  %table
    - departures.each do |one_departure|
      %tr.one_departure
        %td.arrival_time= one_departure['DisplayTime']
        %td.line= one_departure['LineNumber']
        %td.destination= one_departure['Destination']      
